<%- include('partials/header.html') %>

    <!-- Container Principal -->
    <div class="container mt-4">
        <h2>Alunos</h2>


        <hr>
        <table class="table table-bordered mt-4">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Curso</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% alunos.forEach(aluno => { %>
                    <tr>
                        <td><%= aluno.id%></td>
                        <td><%= aluno.usuario.nome %></td>
                        <td><%= aluno.usuario.email %></td>
                        <% aluno.cursos.forEach(alunoCurso => { %>
                            <td><%=alunoCurso.curso.nome%></br>
                            <form onclick="window.location.href='/aluno/<%= aluno.id %>/adicionar-curso';">
                                <i class="fas fa-plus table-icon"></i>
                            </form>
                               
                        </td>
                            <td><%=alunoCurso.cursoStatus%></td>
                        <% }); %>
                        
                        <td>
                            <form onclick="window.location.href='/aluno/<%= aluno.id %>';">
                                <i class="fas fa-eye table-icon" title="Visualizar"></i>
                            </form>
                            <form  onclick="window.location.href='/aluno/<%= aluno.id %>/editar';">
                                <i class="fas fa-edit table-icon mx-2" title="Editar"></i>
                            </form>
                            <form action="/aluno/<%= aluno.id %>/deletar" method="post" onsubmit="return confirm('Tem certeza que deseja deletar este aluno?');" style="display:inline;">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="btn btn-link">
                                    <i class="fas fa-trash table-icon" title="Excluir"></i>
                                </button>
                            </form>
                            
                            
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>


    <!-- jQuery e Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    

    <%- include('partials/footer.html') %>
</body>


</html>