<%- include('partials/header.html') %>
    <!-- Container Principal -->
    <div id="cursos-container" class="container mt-5">
        <h2 style="text-align: center;">GRADE CURRICULAR</h2>
        <hr>
        <div class="container-fluid">
            <div class="row my-4">
                <div class="col-md-12">
                    <h5>Formação:</h5>
                    <div id="periodosContainer"></div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Selecione uma Opção</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form method="post" action="/curso-disciplina">
                    <input type="hidden" name="periodo" id="periodo">
                    <input type="hidden" name="cursoId" id="cursoId" value="<%= curso.id %>">
                    <div class="mb-3">
                      <label for="exampleSelect" class="form-label">Opções</label>
                      <select class="form-select" id="disciplinaId" name="disciplinaId">
                        <% disciplinas.forEach(disciplina => { %>
                            <option value="<%= disciplina.id %>"><%= disciplina.nome %></option>
                        <% }) %>
                    </select>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                  <button type="button" id="saveButton"  class="btn btn-primary">Salvar</button>
                </div>
              </div>
            </div>
          </div>

        <script>

            window.addEventListener('DOMContentLoaded', () => {
                const btns = document.querySelectorAll('#addCursoDisciplinas');

                btns.forEach(button => {
                    button.addEventListener('click', (event) => {
                        console.log(event.target.name ?? event.target.dataset.name)
                        document.getElementById('periodo').value = event.target.name ?? event.target.dataset.name;
                    });
                });

                document.getElementById('saveButton').addEventListener('click', () => {
                    const form = document.querySelector('#exampleModal form');
                    form.submit();
                });
            });

            const curso = <%- JSON.stringify(curso) %>;

            function renderPeriodos() {
                const container = document.getElementById('periodosContainer');
                container.innerHTML = '';

                for (let i = 1; i <= curso.duracao; i++) {
                    const periodoHtml = `
                        <h6 class="text-black p-2" style=" box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  display: flex; justify-content: space-between; align-items: center; cursor: pointer;" onclick="toggleList(${i})">
                            <span>${i}° Semestre</span>
                            <button id="addCursoDisciplinas" name="${i}" class="btn btn-primary btn-sm" style="background-color: #3295ff;" data-bs-toggle="modal" data-bs-target="#exampleModal" data-param="${i}">
                                <i class="fas fa-plus" data-name="${i}"></i>
                            </button>
                        </h6>
                    `;

                    const disciplinasHtml = curso.disciplinas
                        .filter(disciplina => disciplina.periodo === i)
                        .map(disciplina => `
                            <li>
                                <a href="#" class="text-decoration-none text-dark d-block w-100 py-2 px-3">
                                    ${disciplina.disciplina.nome}
                                </a>
                            </li>
                        `)
                        .join('');

                    const periodoContentHtml = `
                        <ul id="subjectList-${i}" class="list-unstyled mt-3" style="max-height: 0; overflow: hidden; transition: max-height 0.5s ease-out;">
                            ${disciplinasHtml}
                        </ul>
                    `;

                    container.innerHTML += '<div>' + periodoHtml + periodoContentHtml + '</div>';
                }
            }

            function toggleList(index) {
                const list = document.getElementById(`subjectList-${index}`);
                if (list.style.maxHeight === "0px" || list.style.maxHeight === "") {
                    list.style.maxHeight = list.scrollHeight + "px";
                } else {
                    list.style.maxHeight = "0px";
                }
            }

            renderPeriodos();
        </script>

        <%- include('partials/footer.html') %>